/* .content{
} */

.todasTurmasDisponiveis{
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
}

.turmasDisponiveis{
    display: flex;
    justify-content: center;
}

.select{
    height: 30px;
    /* margin-top: 30px; */
}