.button{
    background-color: #007AB2;
    height: 84px;
    width: 290px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    font-size: 24px;
    color: #fff;
    
    cursor: pointer;
    border: none;

    transition: all 0.5s ease; 

    font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}


