/* Font */
@import url("http://fonts.cdnfonts.com/css/gotham");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.container {
  /* essa aqui centraliza tudo certinho pdp*/
  max-width: 1140px;
  margin: auto;
  overflow: auto;
  min-height: 300px;
}

.text {
  /* quando for colocar um texto ou algo que fique na coluna de texto é essa a tag B)*/
  max-width: 1140px;
  padding: 0 85px;
  margin: auto;
  overflow: auto;
}

html {
  background-color: #ffffff;
}

.background{
 background-image: url(../img/Background.png);
 background-size: cover;
 background-position: center;
 height: 916px;
}


.information{
  margin-top: 4em;
  height: auto;
  width: 100%;
}

h2{
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: lighter;
  width: 100%;
}

.information p{
  color: #fff;
  font-family: 'Gotham', sans-serif;
  font-size: 2.52em;
  font-weight: 600;
}

.saiba-btt{
  margin: 4em 0;
}

.saiba-btt button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.saiba-btt button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 5px;
  right: -20px;
  transition: 0.5s;
  font-size: 2em;
}

.saiba-btt button:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: #0090d3;
  box-shadow: 0 0 10px #00000073;
}

.saiba-btt button:hover:after {
  opacity: 1;
  right: 33px;
}

.desce{
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desce img{
  animation: bounce 0.8s ease alternate infinite;
}

@keyframes bounce{
	
	to{
		transform: translateY(30px);
	}

}

.aling-solid{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15em;
}

.solid{
  background-color: #0090d3;
  height: 121px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em;
}

.treinamento, .alunos,.empresas{
  display: flex;
  width: 13em;
  justify-content: space-between;
}

.down-txt h4{
  color: #fff;
}

.down-txt p{
  font-weight: 400;
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}


.empresas-carrosel{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 7.75em;
  
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.sobre{
  background-color: #004B6D;
  height: 22.35em;

  display: flex;
  align-items: center;
}

.sobre-fyi{
  color: #fff;
  
}

.sobre-fyi h3{
  font-family: 'Gotham', sans-serif;
  font-size:42.56px;
  font-weight:  500 ;
  margin-bottom: 1em;
}

.sobre-fyi p{
  font-family:Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21.35px;
}