.alinhamento{
    width: 100%;
    height: 42em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.sobreCurso{
    width: 30em;
    height: 35em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
    color: #000;
    /* background-color: blue; */
}

.informCurso{
    width: 100%;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: brown; */
}

.tituloCurso{
    font-size: 2.5em;
    font-weight: 500;
}

.descCurso{
    font-size: 18px;
    font-weight: 300;
}

.imgCurso img{
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: chartreuse; */
}

.inscricao{
    width: 30em;
    height: 35em;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.tituloInsc{
    font-size: 24px;
    color: #00A4EF;
}

.formContent{
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #00A4EF;
    /* background-color: crimson; */
}

.form2{
    width: 70%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkcyan; */
}

.input{
    width: 100%;
    height: 2em;
    border: none;
    border-bottom: 2px solid;
}

::placeholder{
    color:rgb(172, 172, 172);
}

.alinhamento2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
}

.publicoAlvo{
    width: 30em;
    height: 7em;
    text-align: justify;
    /* background-color: cadetblue; */
}

.publicoAlvo h3{
    font-size: 40px;
    margin-bottom: 0.2em;
}

.publicoAlvo p{
    font-size: 18px;
}

.preRequisto{
    width: 30em;
    height: 7em;
    text-align: justify;
    /* background-color: cadetblue; */
}

.preRequisto h3{
    font-size: 40px;
    margin-bottom: 0.2em;
}

.preRequisto p{
    font-size: 18px;
}

.alinhamento3{
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: cadetblue; */
}

.infogeral{
    width: 12em;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: cornflowerblue; */
}

.infogeral img{
    width: auto;
    height: auto;
}

.infogeral p{
    font-size: 16px;
}

.infogeral h3{
    font-size: 18px;
}

@media only screen and (max-width: 1480px){

    .sobreCurso{
        width: 29em;
        height: 34em;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: space-between;
        color: #000;
        /* background-color: blue; */
    }

    .tituloCurso{
        font-size: 2.3em;
        font-weight: 400;
    }

    .descCurso{
        font-size: 0.93em;
        font-weight: 300;
    }

    .inscricao{
        width: 29em;
        height: 34em;
        display: flex;
        flex-direction: column;
        /* background-color: blueviolet; */
    }

    .tituloInsc{
        font-size: 1.3em;
        color: #00A4EF;
    }

    .formContent{
        width: 100%;
        height: 29em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid #00A4EF;
        /* background-color: crimson; */
    }

    .form2{
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: darkcyan; */
    }

    .input{
        width: 90%;
        height: 1.3em;
        border: none;
        border-bottom: 2px solid;
    }

    ::placeholder{
        font-size: 18px;
        color:rgb(172, 172, 172);
    }

    .publicoAlvo{
        width: 29em;
        height: 7em;
        text-align: justify;
        /* background-color: cadetblue; */
    }

    .publicoAlvo h3{
        font-size: 1.7em;
        margin-bottom: 0.2em;
    }
    
    .publicoAlvo p{
        font-size: 0.9em;
    }
    
    .preRequisto{
        width: 29em;
        height: 7em;
        text-align: justify;
        /* background-color: cadetblue; */
    }
    
    .preRequisto h3{
        font-size: 1.7em;
        margin-bottom: 0.2em;
    }
    
    .preRequisto p{
        font-size: 0.9em;
    }

}
@media only screen and (max-width: 1420px){

    .sobreCurso{
        width: 26em;
        height: 34em;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: space-between;
        color: #000;
        /* background-color: blue; */
    }

    .inscricao{
        width: 26em;
        height: 34em;
        display: flex;
        flex-direction: column;
        /* background-color: blueviolet; */
    }

    .publicoAlvo{
        width: 26em;
        height: 7em;
        text-align: justify;
        /* background-color: cadetblue; */
    }
    
    .preRequisto{
        width: 26em;
        height: 7em;
        text-align: justify;
        /* background-color: cadetblue; */
    }

}

/* Responsive 1200px */
@media only screen and (max-width: 1280px){

    .sobreCurso{
        width: 23em;
        height: 30em;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: space-between;
        color: #000;
        /* background-color: blue; */
    }

    .tituloCurso{
        font-size: 2.1em;
        font-weight: 400;
    }

    .descCurso{
        font-size: 0.85em;
        font-weight: 300;
    }

    .inscricao{
        width: 23em;
        height: 30em;
        display: flex;
        flex-direction: column;
        /* background-color: blueviolet; */
    }

    .tituloInsc{
        font-size: 1.3em;
        color: #00A4EF;
    }

    .formContent{
        width: 100%;
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid #00A4EF;
        /* background-color: crimson; */
    }

    .form2{
        width: 70%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: darkcyan; */
    }

    .input{
        width: 90%;
        height: 1em;
        border: none;
        border-bottom: 2px solid;
    }

    ::placeholder{
        font-size: 16px;
        color:rgb(172, 172, 172);
    }

    .publicoAlvo{
        width: 23em;
        height: 7em;
        text-align: justify;
        /* background-color: cadetblue; */
    }

    .publicoAlvo h3{
        font-size: 1.7em;
        margin-bottom: 0.2em;
    }
    
    .publicoAlvo p{
        font-size: 0.9em;
    }
    
    .preRequisto{
        width: 23em;
        height: 7em;
        text-align: justify;
        /* background-color: cadetblue; */
    }
    
    .preRequisto h3{
        font-size: 1.7em;
        margin-bottom: 0.2em;
    }
    
    .preRequisto p{
        font-size: 0.9em;
    }

}
@media only screen and (max-width: 1120px){

    .alinhamento{
        width: 100%;
        height: 35em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: aqua; */
    }

    .sobreCurso{
        width: 22em;
        height: 29em;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: space-between;
        color: #000;
        /* background-color: blue; */
    }

    .tituloCurso{
        font-size: 2.1em;
        font-weight: 400;
    }

    .descCurso{
        font-size: 0.85em;
        font-weight: 300;
    }

    .inscricao{
        width: 22em;
        height: 29em;
        display: flex;
        flex-direction: column;
        /* background-color: blueviolet; */
    }

    .tituloInsc{
        font-size: 1.3em;
        color: #00A4EF;
    }

    .formContent{
        width: 100%;
        height: 28em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid #00A4EF;
        /* background-color: crimson; */
    }

    .form2{
        width: 70%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: darkcyan; */
    }

    .input{
        width: 90%;
        height: 1em;
        border: none;
        border-bottom: 2px solid;
    }

    ::placeholder{
        font-size: 16px;
        color:rgb(172, 172, 172);
    }

    .alinhamento2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        background-color: bisque;
    }
    

    .publicoAlvo{
        width: 22em;
        height: 5em;
        text-align: justify;
        /* background-color: cadetblue; */
    }

    .publicoAlvo h3{
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }
    
    .publicoAlvo p{
        font-size: 0.8em;
    }
    
    .preRequisto{
        width: 22em;
        height: 5em;
        text-align: justify;
        /* background-color: cadetblue; */
    }
    
    .preRequisto h3{
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }
    
    .preRequisto p{
        font-size: 0.8em;
    }

    .alinhamento3{
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: cadetblue; */
    }
    
    .infogeral{
        width: 9em;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* background-color: cornflowerblue; */
    }

    .infogeral img{
        width: auto;
        height: 1.5em;
    }
    
    .infogeral p{
        font-size: 14px;
    }
    
    .infogeral h3{
        font-size: 14px;
    }

}