

.Alinhamento{
    width: 100%;
    height: 45em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.sobreCurso{
    width: 30em;
    height: 35em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
    color: #000;
    /* background-color: blue; */
}

.informCurso{
    width: 100%;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: brown; */
}

.tituloCurso{
    font-size: 2.5em;
    font-weight: 500;
}

.descCurso{
    font-size: 18px;
    font-weight: 300;
}

.imgCurso img{
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: chartreuse; */
}

.inscricao{
    width: 30em;
    height: 35em;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.tituloInsc{
    font-size: 24px;
    color: #00A4EF;
}

.formContent{
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #00A4EF;
    /* background-color: crimson; */
}

.form2{
    width: 70%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkcyan; */
}

.input{
    width: 100%;
    height: 2em;
    border: none;
  border-bottom: 2px solid;
}

