.content{
    max-width: 1140px;
    margin: auto;
    overflow: auto;
}

.contentAlinhamento{
    width: 100%;
    margin-top: 2em;
}
.titulo{
    width: auto;
    padding-right: 500px;
}

.filtro{
    width: auto;
    padding-right: 50px;
}

.select{
    height: 30px;
}

.todasTurmasDisponiveis{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-bottom: 2px solid;
}

.turmasDisponiveis{
    width: 100%;
    display: flex;
    justify-content: center;
}

.infosGerais{
    width: 400px;
    margin: 2em;
    display: flex;
    flex-direction: column;
}

.gradeCurricular{
    width: auto;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 700;
}

.horas{
    font-size: 12px;
}

