html{
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.areas-container{
     width: 100%;
     height: 33.80em;
     background-color: #EFF3F5;
     display: flex;
     flex-direction: column;
 }

 .area-aling{
     
     width: 100%;
     height: 32em;

     display: flex;
     align-items: center;
     

 }

 .conteudo-curso{
    
    /* background-color: rgb(51, 153, 85); */
    height: 25em;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }



 .texto-sobre-curso{
     width: 100%;
 }

 .texto-sobre-curso p{
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    color: #212529;
    font-size: 23px;
 }

 .texto-sobre-curso p:nth-child(2n){
    font-size: 35px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
 }

 .card-area{
     width: 100%;
     /* background-color: tomato; */
     height: 10em;



     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .card-da-area{
    width: 13em;
    height: 9.2em;
    background-color: #00A4EF;
    border-radius: 6px;
    box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;
 }

 .card-da-area p{
     color: #ffff;
     font-size: 1.15em;
 }

 .card-da-area img{
     width: 4.5em;
     height: 4em;
 }

 .card-da-area:nth-child(1n):hover{
     background-color: #F25022;
     box-shadow: -1px 2px 10px 0px #f24f2200 ;
     cursor: pointer;
 }
 .card-da-area:nth-child(2n):hover{
     background-color: #7FBA00;
 }
 .card-da-area:nth-child(3n):hover{
     background-color: #007AB2;
 }
 .card-da-area:nth-child(4n):hover{
     background-color: #FFB900;
 }


 .microsoft-bottom{
     width: 100%;
     margin-bottom: 2em;
    display: flex;
    justify-content: flex-end;
    /* background-color: rebeccapurple; */
 }

 .microsoft-bottom img{
     width: 9.2em;
 }

 .conteudo-curso Button{
     height: 55px;
     width: 260px;
    font-weight: 300;
    font-size: 19px;
 }
 .conteudo-curso Button:hover{
    background-color: #0d6188;
}


.cursos-main{
    height: 55em;
    margin-top: 109px;
}

.pixel__title p{
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 500;
}

p span{
    color: #007AB2;
    font-size: 24px;
    font-weight: 600;
}

.local-do-curso{
    margin-top: 3.5em;
    
}

.title__content p{
    font-family: 'Gotham', sans-serif;
    color: #212529;
    font-size: 1.5em;
    font-weight: 600;
}

.title__content{
    display: flex;
    height: 2em;
    align-items: flex-start;
    margin-bottom: 2em;

}



.pixel__title{
    height: 1.6em;
    width: 13px;
    background-color: #F25022;
    margin-right: 5px;
}


.scrolling-wrapper {
    height: 16em;

	display: flex;
    align-items: center;
	flex-wrap: nowrap;
	overflow-x: scroll;

    background-color: #EFF3F5;
    box-shadow: inset 1px 0.5px 5px rgba(0, 0, 0, 0.23);
}



.card__curso {
	width: 17em;
    height: 11em;
	background-color: #C8C8C8;
	margin: 1rem;
    border-radius: 13px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__botton{
    width: 15em;
    height: 5em;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: justify;
    
}

.card__botton a{
    font-size: 0.68em;
    font-weight: 400;
    color: #000;
}


.imagem__card{
    height: 7em;
    width: 100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

    background-image: url(../img/fundo-dinamics.png);

    display: flex;

    justify-content: space-between;
}

.icone-aling{
    height: 100%;


    width: 100%;
    display: flex;
    flex-direction:column ;

    justify-content: space-between;
}



.tag_curso{
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 4em;



}

.tag__ok{
    height: 100%;
    width: 2.7em;

    margin-right: 2em;
    background-color: #F25022;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tag__ok img{
    width: 1.7em;

}

.titulo_card_curso{
    margin-left: 15px;
    display: flex;
    align-items: center;

    width: 100%;

   height: 2em;
}

.titulo_card_curso a{
    color: #fff;
    margin-left: 6px;
    font-weight: 500;
}

.quote_p{
    height: 22px;
    width: 3px;
    background-color: #fff;
}


 

