.menu{
    padding-left: 15px;

    display: flex;
    flex-direction: column;

    /* background-color: red; */
    width: 30%;
    height: 270px;
}

.menu-border-turmas{
    border-left: 3px solid #00A4EF;
}
.menu-p-turmas{
    color: #00A4EF;
}

.opcoes{
    margin-bottom: 30px;
    width: 120px;

    
    
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    /* background-color: red; */
}
.opcoes:hover{
    border-bottom: 1px solid black;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    color: currentColor;
}

