.cursos-header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursos-content{
    width: 1440px;
    height: 100%;
}

.center-cursos{
    width: 100%;
    margin-top: 30px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content-cursos{
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.side-content-cursos{
    width: 75%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.side-content-cursos h1{
    color: #F25022;
}

.form-content-cursos{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #EFF3F5;
    border: 2px solid #F25022;
    border-radius: 15px;
    display: flex;
}

.formulario-cursos{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.esquerda-cursos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
}

.esquerda-cursos input{
    width: 302px;
    background-color: #EFF3F5;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.btn-cadastrar-cursos{
    width: 302px;
    height: 45px;
    background-color: #F25022;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

.table-section-cursos{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table-content-cursos{
    width: 1440px;
    height: 300px;
}

.table-content-cursos h1{
    color: #F25022;
    margin-bottom: 20px;
}

.table-info-cursos{
    background-color: #EFF3F5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #F25022;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-settings-cursos{
    border-collapse: collapse;
}

td, th{
    border: 1px solid #D6D3D3;
    text-align: center;
    padding: 8px;
}

#topo{
    background-color: #F3F5F7;
}

tr{
    background-color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
